body{
    margin: 0px;
}

ul{
    list-style: none;
    padding: 0px;
    margin: 0px;
}
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.mainButton{
    background-color: green;
    color: white;
    border: 0px;
    padding: 5px 10px;
    border-radius: 10px;
    font-weight: bolder;
    box-shadow: 1px 1px gray;

}
.mainButton:hover{
    cursor: pointer;
    box-shadow: 3px 3px gray;
    transform: scale(1.1);
}