body{
    margin: 0px;
}

ul{
    list-style: none;
    padding: 0px;
    margin: 0px;
}
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: rgb(199, 193, 193);
    border-bottom: 1px solid gray;
    box-shadow: 1px 1px gray;
}
.navbar > li {
    display: flex;
    align-items: center;
}
.button{
    border: 0px;
    padding: 5px 10px;
    border-radius: 10px;
    font-weight: bolder;

}
.button:hover{
    cursor: pointer;
    transform: scale(1.1);
}
.logo{
    height: 50px;
}
.mainButton{
    background-color: rgb(8, 143, 8);
    color: white;
}
.mainButton:hover{
    box-shadow: 3px 3px gray;
}
.secundaryButton{
    background-color: rgb(9, 198, 245);
    color: white;
}
.secundaryButton:hover{
    box-shadow: 3px 3px rgb(20, 32, 24);
}
.logoBuscar{
    height: 15px;
}
.buscar{
    background-color: white;
    border: 1px solid grey;
    padding: 4px;
    border-radius: 8px;
    width: 300px;
    display: flex;
    justify-content: space-between;
}

.buscar:focus-within{
    border: 1px solid blue;
}

.buscar > input{
    outline: none;
    border: 0px;
}

